<%- include('partials/top.ejs')%>
<body>
    <%- include('partials/navbar.ejs')%>
    <%- include('partials/header.ejs')%>
    <h1>Welcome to the contact page</h1>
    <%- include('partials/footer.ejs')%>
</body>
</html>